@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

#app{
  font-size: 18px;
  line-height: 150%;
}

#app h1, #app h2{
  font-weight: 500;
  font-size: 35px;
  font-size: 45px;
  line-height: 110%;
}

.container{
  max-width: 640px !important;
  margin: 60px auto;
}
